
<div class="header">
  <h1>Accessible Examples</h1>
  <p>Welcome to the accessible modal testing page!</p>
  <p>Select one of the scenarios below to check the accessibilty regarding keyboard navigation and Screen reader usability</p>
</div>
<div role="menu" class="menu">
  <button role="menuitem" class="menu-item" type="button" (click)="chooseTemplate('templateModal')">Modal</button>
  <button role="menuitem" class="menu-item" type="button" (click)="chooseTemplate('templateGroup')">Radio/Button Group</button>
</div>

<ng-container *ngTemplateOutlet="currentTemplate"></ng-container>

<ng-template #templateModal>
  <h3>Accessible Modal Component</h3>
  <button class="button button-primary" type="button" (click)="showModal()">Show Modal</button>

  <ng-template #modalUser>
    <form [formGroup]="formModal" (ngSubmit)="submitModalForm()">
      <div class="form-field">
        <label for="firstName">First name</label>
        <input 
          [attr.aria-invalid]="formModal.get('firstName')?.invalid"
          aria-describedby="firstNameError"
          id="firstName" formControlName="firstName"
        >
        <small 
          id="firstNameError" 
          class='validation-error' 
          *ngIf="formModal.get('firstName')?.errors?.required">
            First name is required
        </small>
      </div>
      <div class="form-field">
        <label for="surname">Surname</label>
        <input 
          [attr.aria-invalid]="formModal.get('surname')?.invalid" 
          aria-describedby="surnameError"
          id="surname" 
          formControlName="surname">
        <small 
          id="surnameError" 
          class='validation-error' 
          *ngIf="formModal.get('surname')?.errors?.required">
            Surname is required
        </small>
      </div>
      <div class="form-field">
        <label for="age">Age</label>
        <input type="number"
          [attr.aria-invalid]="formModal.get('age')?.invalid" 
          aria-describedby="ageError"
          id="age" formControlName="age"
        >
        <small 
          id="ageError" 
          class='validation-error' 
          *ngIf="formModal.get('age')?.errors?.required">
            Age is required
        </small>
      </div>
      <label for="info">Subscribe to news letter</label>
      <input id="info" type="checkbox" formControlName="info" (change)="info = !info">
      <p [@fade] *ngIf="info">This is a placeholder for more information</p>

      <div class="modal-button-group">
        <button 
          [attr.aria-disabled]="formModal.invalid"
          class="button button-primary" 
          type="submit">
            Submit
        </button>
        <button 
          (click)="modalRef.close()" 
          class="button button-secondary" 
          type="button">
            Cancel
        </button>
      </div>
    </form>
  </ng-template>
</ng-template>

<ng-template #templateGroup>
  <main>
    <h3>FORM Button Group</h3>
    <form [formGroup]="formButtonGroup" (ngSubmit)="submitButtonGroup()">
      <app-yes-no-button-group
        [appDisableControl]="false"
        formControlName="yesNoAnswerButton"
        label="This is a button group which is acting like a radio group (after a hard work). Can you believe it? "
      ></app-yes-no-button-group>
      <button>Submit</button>
    </form>
    <br/>
    <br/>
    <h3>FORM Radio Group</h3>
    <form [formGroup]="formRadioGroup" (ngSubmit)="submitRadioGroup()">
      <app-yes-no-radio-group
        formControlName="yesNoAnswerRadio"
        label="This is a radio group and its layout is similar to the button group. Do you agree? "
      ></app-yes-no-radio-group>
      <button>Submit</button>
    </form>
  </main>
</ng-template>